{% extends 'tienda/layout.html' %}
{% load static %}
{% block body %}

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active d-item">
            <img src="{% static 'img/facu1.jpg' %}" class="d-block w-100 d-img" alt="...">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">
                Profesores universitarios y Tutores especializados para ayudarte
              </p>
              <h1 class="display-1 fw-border tect-capitalize">Consultas on Demand</h1>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Informacion</button>
            </div>
          </div>
          <div class="carousel-item d-item">
            <img src="{% static 'img/chicos1.jpg' %}" class="d-block w-100 d-img" alt="...">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">
                Cuando necesites, a cualquier hora, desde cualquier lugar
              </p>
              <h1 class="display-1 fw-border tect-capitalize">Consultas on Demand</h1>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Informacion</button>
            </div>
          </div>
          <div class="carousel-item d-item">
            <img src="{% static 'img/facu2.jpg' %}" class="d-block w-100 d-img" alt="...">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">
                ¿Tenés problemas para entender un tema? ¿No sabés cómo empezar un problema? Ingresa y busca un tutor
              </p>
              <h1 class="display-1 fw-border tect-capitalize">Consultas on Demand</h1>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Informacion</button>
            </div>
          </div>
          <div class="carousel-item d-item">
            <img src="{% static 'img/chicos2.jpg' %}" class="d-block w-100 d-img" alt="...">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">
                Encontrá material apropiado o consultá con un tutor en forma sincrónica
              </p>
              <h1 class="display-1 fw-border tect-capitalize">Consultas on Demand</h1>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Informacion</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
{% endblock %}
